.approach {
  background-color: $bg-blue;
  padding: 6rem 11.81rem;
  display: flex;
  gap: 2.5rem;

  &__image-container {
    flex: 1;
    position: relative;
    height: max-content;
  }

  &__image {
    width: 93%;
    min-width: 300px;
    height: auto;
    border-radius: 5px;
    float: right;

    &-lines {
        position: absolute;
        bottom: 0px;
        right: 0px;
        width: 93%;

        @media (max-width: 1377px) {
            display: none;
        }
    }
  }

  &__content {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 3.75rem;
  }

  &__title {
    color: $text-secondary;
    font-size: $font-size-50;
    font-weight: $bold;
    position: relative;
    left: -6.8rem;
  }

  &__text {
    color: $text-primary;
    font-size: $font-size-20;
    font-weight: $regular;
    margin-top: 3.75rem;
    margin-bottom: 5.31rem;
    line-height: 30px;
    width: 94%;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 3rem;
  }

  &__dropdown {
    position: relative;
    &-select {
      background-color: white;
      padding-top: 1.125rem;
      padding-bottom: 1.125rem;
      padding-right: 7.375rem;
      appearance: none;
      outline: none;
      border-radius: 48px;
      padding-left: 1.875rem;
      font-size: $font-size-20;
      font-weight: $medium;
      font-style: italic;
      color: $text-secondary;
    }

    &-icon {
      position: absolute;
      right: 22px;
      top: 22px;
      transform: rotateY("30deg");
    }
  }

  &__map-trigger {
    display: flex;
    align-items: center;

    &-link {
      text-decoration: none;
      position: relative;
      border: none;
      text-align: left;
      padding-left: 1.25em;
      color: $text-primary;
      font-size: $font-size-20;
      font-style: italic;
      font-weight: $medium;

      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        height: 3px;
        width: 90%;
        left: 1.3em;
        background-color: $text-secondary;
        transition: 0.3s ease-in-out;
        transform: scaleX(0);
      }

      &:hover {
        cursor: pointer;
        color: $text-secondary;

        &::after {
          transform: scaleX(1);
        }
      }
    }
  }
}
