.hero {
    background-color: $bg-green;
    display: flex;
    height: max-content;

    @media (max-width: 1376px) {
        background-image: url("../assets/img/girl.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    @include option-link-styles;

    @media (max-width: 768px) {
        flex-direction: column;
    }

    &__content {
        width: 55%;
        padding: 3.125rem 4rem;
        padding-right: 2rem;
        padding-bottom: 0;
        position: relative;

        @media (max-width: 1376px) {
            width: 100%;
            padding: 3.125em 1.5em;
            position: relative;
            backdrop-filter: blur(4px);
        }
    }

    &__logo {
        width: 13.125rem;
        @media (max-width: 768px) {
            margin-left: auto;
            margin-right: auto;
        }
    }

    &__title {
        font-size: $font-size-50;
        color: $text-secondary;  
        font-weight: $bold;
        margin-top: 5rem;
        margin-bottom: 3.3rem;
    }

    &__description {
        font-size: $font-size-30;
        color: $text-primary;
        line-height: 3rem;
        padding-bottom: 5rem;
        width: 80%;
        font-weight: $regular;
    }

    &__help {
        width: max-content;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box; 
      }
      

    &__subtitle {
        font-size: $font-size-30;
        color: $text-secondary;
        font-weight: $bold;
        margin-bottom: 2.5rem;
    }

    &__options {
        list-style: none;
        padding-bottom: 2em;
    }

    &__image-container {
        width: 45%;
        height: max-content;
        position: relative;

        @media (max-width: 1376px) {
            display: none;
        }
    }
    

    &__image {
        width: 100%;
        min-width: 350px;
        border-radius: 5px;
        display: block;

        &-lines {
            width: 100%;
            height: auto;
            position: absolute;
            left: 0;
            bottom: 0;
        }
    }
}