.hero {
    background-color: $bg-green;
    display: flex;
    height: max-content;
    @include option-link-styles;

    &__content {
        width: 52%;
        padding: 3.125em 5em;
        position: relative;
    }

    &__logo {
        width: 13.125rem;
    }

    &__title {
        font-size: $font-size-50;
        color: $text-secondary;  
        font-weight: $bold;
        margin-top: 5rem;
        margin-bottom: 3.3rem;
    }

    &__description {
        font-size: $font-size-30;
        color: $text-primary;
        line-height: 3rem;
        padding-right: 4rem;
        padding-bottom: 5rem;
        width: 80%;
        font-weight: $regular;
    }

    &__help {
        width: max-content;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box; 
      }
      

    &__subtitle {
        font-size: $font-size-30;
        color: $text-secondary;
        font-weight: $bold;
        margin-bottom: 2.5rem;
    }

    &__options {
        list-style: none;
    }
    

    &__image {
        width: 48%;
        border-radius: 5px;  
    }

    &__leaves {
        @media (max-width: 1377px) {
            display: none;
        }
    }
}