@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@mixin option-link-styles {
    &__option {
        display: flex;
        margin-bottom: 1.25em;
    }

    &__link {
        text-decoration: none;
        position: relative;
        border: none;
        text-align: left;
        padding-left: 1.25em;
        color: $text-primary;
        font-size: $font-size-20;
        font-style: italic;
        font-weight: $medium;


        &::after {
            content: "";
            position: absolute;
            bottom: -5px;
            height: 3px;
            width: 90%;
            left: 1.3em;
            background-color: $text-secondary;
            transition: 0.3s ease-in-out;
            transform: scaleX(0);
        }

        &:hover {
            cursor: pointer;
            color: $text-secondary;

            &::after {
                transform: scaleX(1);
            }
        }

        &--pink {
            width: 75%;
            &:hover {
                color: $text-tertiary;
                &::after {
                    transform: scaleX(0);
                }
            }

            &::after  {
                background-color: $text-tertiary;
            }
        }
    }
}

@mixin card-style($prefix) {
    .#{$prefix}__card {
        width: 30%;
        min-width: 250px;
        
        &-image {
            width: 100%;
            border-radius: 5px;
        }

        &-date {
            font-size: $font-size-16;
            font-style: italic;
            margin-top: 1.25rem;
            margin-bottom: 0.625rem;
            color: $text-primary;
        }

        &-title {
            line-height: 1.875rem;
            font-weight: $semibold;
            color: $text-secondary;
            min-height: 3.75rem;
        }

        &-description {
            line-height: 1.625rem;
            color: $text-primary;
            font-size: $font-size-16;
            min-height: 8.125rem;
            margin-bottom: 1.3125rem;
        }

        &-profile {
            display: flex;
            align-items: center;
            
            &-img {
                width: 2.56rem;
                height: auto;
            }
    
            &-name {
                font-size: $font-size-16;
                color: white;
                margin-left: 1.25rem;
                
                &--family-name {
                    font-style: italic;
                    font-weight: $medium;
                }
            }
        }
    }
}