$bg-green: #00AE74; 
$bg-purple: #67257B;
$bg-blue: #00A9C7;
$bg-orange: #F37932;
$bg-caramel: #CFB572;
$text-primary: #FFFFFF;
$text-secondary: #67257B;
$text-tertiary: #CA138B;

$font-size-16: 1rem; 
$font-size-20: 1.25rem; 
$font-size-30: 1.875rem; 
$font-size-40: 2.5rem; 
$font-size-50: 3.125rem; 

$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$extrabold: 800;
$black: 900;
