$bg-green: #00AE74; 
$bg-purple: #67257B;
$bg-blue: #00A9C7;
$bg-orange: #F37932;
$bg-caramel: #CFB572;
$text-primary: #FFFFFF;
$text-secondary: #67257B;
$text-tertiary: #CA138B;

$breakpoint-mobile: 480px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
